[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-database-url = "*"
pyscopg2-binary = "2.8.5"
pyscopg2 = "2.8.5"
